Package: hidblock
Version: 0.1-1
Architecture: all
Maintainer: dyngar-m <dyngar-m@dyngar.local>
Installed-Size: 32
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
